@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  transition: 0.7s;
  position: absolute;

  .Advance,
  .form,
  .navbar,
  .header,
  .Boost,
  .footer {
    padding: 3rem 7rem;
  }
}

button {
  cursor: pointer;
  border-radius: 25px;
  background: #2acfcf;
  color: #fff;
  border: none;
  padding: 13px 30px;
  margin: 25px 0 0;
  transition: 0.4s;
  font-size: 1.1rem;
  font-weight: bold;
  outline: none;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    outline: none;
  }
}

.copied {
  button {
    background: #4b3f6b !important;
  }
}
